ul.list{
  padding: 6px;
  list-style: none;
}

ul.list li{
  margin: 0 0 15px 0;
}

ul.list .card{
  padding: 10px;
  box-shadow: var(--global-box-shadow);
  border-radius: var(--global-border-buttons);
  background: var(--global-primary);
  color: var(--global-text-color);
}

ul.list .card .row .separe{
  display: flex;
  align-items: center;
  flex-direction: row;
}

ul.list .card .avatar img{
  display: block;
  font-size: 50px !important;
  width: 55px;
  border-radius: 100px;
  border: 2px solid #999;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  height: 55px;
  margin: 0 15px 0 10px;
}

/*Button*/
ul.list .card .button{
  padding: 0 10px 0 0;
}

ul.list .card .button a{
  border: 3px solid var(--global-blue);
  border-radius: var(--global-border-buttons);
  text-align: center;
  padding: 4px;
  font-size: 18px;
  text-decoration: none;
  width: 100%;
  display: block;
  margin: 0;
}

/**/