section{
    margin-top: 20px;
    background: var(--global-primary);
    box-shadow: var(--global-box-shadow);
    border-radius: var(--global-border-buttons);
    padding: 15px;
}

#page-config h3,
#page-config label{
    color: var(--global-text-color);
}

#aparencia input[type=radio]{
    display: none;
}

#aparencia input[type=radio] + label{
    cursor: pointer;
    padding: 8px 15px 8px 15px;
    box-shadow: var(--global-box-shadow);
    border-radius: var(--global-border-buttons);
}

#aparencia input[type=radio] + label[for=white-mode]{
    color: var(--global-blue);
    background: #FFF;
}

#aparencia input[type=radio]:checked + label[for=white-mode]{
    border: 2px solid #FFF;
    outline: 3px solid var(--global-blue);
}

#aparencia input[type=radio] + label[for=dark-mode]{
    background: #0E2648;
    color: #FFF;
}

#aparencia input[type=radio]:checked + label[for=dark-mode]{
    border: 2px solid #FFF;
    outline: 3px solid var(--global-blue);
}

.author p{
    text-align: center;
    margin: 0 0 9px 0;
    color: var(--global-text-color);
}

.author hr{
    color: var(--global-text-color);
}