#page-veiculos .veiculos ul{
    margin: 0;
    padding: 0;
}

#page-veiculos .veiculos ul li{
    list-style: none;
    padding: 8px;
}

#page-veiculos .veiculos ul li .card{
    padding: 10px;
    box-shadow: var(--global-box-shadow);
    border-radius: var(--global-border-buttons);
    background: var(--global-primary);
    color: var(--global-text-color)
}

/*Tag Colos Status*/
.color-status b{
    border-radius: 100px;
    padding: 0 10px 4px 10px;
  }
  
  .color-status .em-viagem{
    background: #C1DDFF;
    color: #005FD6;
  }

  .color-status .em-viagem a{
    text-decoration: none;
  }

  .color-status .em-reserva{
    background: #FFE6C1;
    color: #C16800;
  }
  
  .color-status .sem-destino{
    background: #CECECE;
    color: #222222;
  }