/*tables*/
table{
  background: #FFFFFF;
  border-radius: 8px;
}

table .avatar svg{
  padding: 5px;
  font-size: 10px;
  width: 100%;
  height: 100%;
}

table tbody tr{
  border: hidden;
}

table tbody 
.table-title td{
  padding: 5px 0 0 7px;
  font-size: 14px;  
}

table tbody
.table-content td{
  font-size: 1.1em;
  font-weight: 600;
}

/*button table*/
table tbody 
.button{
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4em;
}

table tbody
.button a{
  border: 3px solid var(--global-blue);
  padding: 4px 15px 4px 15px;
  border-radius: 6px;
  text-decoration: none;
  
}