* body, * html, * main{
  background-color: var(--global-primary);
}

* div{
  transition: 0.3s;
}

.no-padding{
  padding: 0 !important;
  margin: 0;
}

.line-style{
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 7px;
  background: linear-gradient(to right, #1D92FF, #005BE3);
}

/*lateral nav style*/
.lateral-nav 
.content-nav{
  position: fixed;
  left: 0;
  padding: 0px 15px 10px 10px;
  transition: 0.3s;
}

.lateral-nav{
  height: 100vh;
  background: var(--global-primary);
  transition: 0.3s;
}

.lateral-nav img.brand{
  top: 0;
  width: 100%;
  margin: 25px 0 35px 0;
  padding: 10px;
}

.lateral-nav ul{
  display: list-item;
  list-style: none;
  margin: 0;
  padding: 0 0 0 5px;
}

.lateral-nav li{
  margin-bottom: 7px;
}

.lateral-nav li a{
  display: block;
  text-decoration: none;
  font-size: 1.25em;
  color: var(--global-text-color);
  border-radius: var(--global-border-buttons);
  width: 100%;
  padding: 6px 13px 4px 10px;
}

.lateral-nav li a:hover,
.lateral-nav li a.active{
  background: var(--global-hover-blue);
  color: #FFF;
}

.lateral-nav li a svg{
  font-size: 26px;
  margin: 0 0 5px 0;
}

/*content page*/
.content-page{
  box-shadow: 4px 0px 5px rgba(0,0,0,0.048) inset;
  padding: 25px !important;
  background: var(--global-secondary);
}