.form-control{
    border-radius: 8px !important;
    padding: 9px 9px 9px 15px !important;
    outline: none;
    box-shadow: none !important;
}

.form-control[type='file']{
    display: none;
}

input[type="text"],
input[type="email"],
input[type="password"]{
    background: var(--global-input-color) !important;
    color: var(--global-text-color) !important;
}

input[type="password"]::placeholder{
    color: var(--global-text-placeholder-color);
}

.form-control{
    margin: 0 0 15px 0;
}

.form-group label, .form-group h3{
    color: var(--global-text-color);
}

.form-group .button-foto{
    display: flex;
    justify-content: center;
    align-content: center;
}

.form-group .button-foto .info-foto{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
}

.form-group .button-foto .info-foto div{
    background: rgba(255,255,255,0.6);
    position: relative;
    border-radius: 10px;
    width: 150px;
    height: 30px;
    margin-bottom: 14px;
}

.form-group .button-foto .info-foto div:hover{
    color: var(--global-color-blue);
}

.form-group .button-foto svg{
    float: left;
    font-size: 30px;
    opacity: 70%;
}

.form-group .button-foto button{
    position: relative;
    display: block;
    width: 250px;
    height: 250px;
    border: 1px solid #ddd;
    border-radius: 70px !important;
    background: #FFF;
}

.form-group .button-foto button img{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    border-radius: 70px;
    overflow: hidden;
    object-fit: cover;
}

#page-motorista .data-right{
    display: flex;
    align-items: center;
}