header h2, 
header h3{
    color: var(--global-text-color);
}

header input[type="text"]{
    background: var(--global-primary);
    color: var(--global-text-color);
}

header .menu, 
header .sub-menu{
    list-style: none;
    padding: 0 8px 0 8px;
}

header .menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header .sub-menu{
    background: var(--global-primary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 7px;
    box-shadow: var(--global-box-shadow);
}

header .sub-menu li{
    margin: 10px;
}

header .sub-menu li a,
header .sub-menu li{
    text-decoration: none;
    color: var(--global-text-color);
}

header .sub-menu li a:hover{
    text-decoration: none;
    color: var(--global-text-color);
    font-weight: bold;
}

header .menu input[type='text'].search{
    border: none;
    padding: 10px;
    outline: none;
    background: var(--global-primary) !important;
}